.box {
  width: 300px;
  height: 200px;
  background-color: black;
  /* padding-top: 20px;
  padding-left: 50px;
  padding-right: 10px;
  padding-bottom: 20px; */
  padding: 20px 50px 10px;
  /* border-width: 10px;
  border-color: red;
  border-style: solid; */
  border: 10px solid red;
  margin: 30px 0 100px;
}

.box p {
  font-size: 20px;
  color: white;
}

#click {
  background-color: rgb(10, 10, 81);
  padding: 12px 23px;
  color: white;
  border-width: 3px;
  border-color: green;
  border-style: dashed;
  border: 3px dashed green;
  margin-left: 50px;
}
